FLASK_DEBUG=True
FLASK_RUN_PORT=8080
FLASK_RUN_HOST=0.0.0.0
MAIL_SERVER="sandbox.smtp.mailtrap.io" 
MAIL_PORT=2525 # you may need to change this to 25, 587 or 2525 
MAIL_USERNAME="d45c99beb360b7" 
MAIL_PASSWORD="8ab9eccc0bcaa0" 
MAIL_USE_TLS = True
MAIL_USE_SSL = False
SECRET_KEY="kmacc876"