{% extends "base.html" %}

{% block main %}

    <div class="header">
        <h1>Contact Form</h1>
        <hr>
    </div>

    <p>Fill in this form to contact the site owners.</p>
    <br>

    <form method="post"> 
        {{ form.csrf_token }} 

        <div class = "name">
            <label> 
                <strong>{{ form.name.label }}</strong> <span style = "color: red; font-weight: bold;"> (Required) </span>
            </label>
            <br><br>
            <p> Please enter your full name </p>
                {{ form.name(size=40) }} 
        </div><br><br>

        <div class = "email">
            <label> 
                <strong>{{ form.email.label }}</strong> <span style = "color: red; font-weight: bold;"> (Required) </span>
            </label>
            <br><br>
            <p> Please enter your email address </p>
                {{ form.email(size=40) }} 
        </div><br><br>

        <div class = "subject">
            <label> 
                <strong>{{ form.subject.label }}</strong> <span style = "color: red; font-weight: bold;"> (Required) </span>
            </label>
            <br><br>
            <p> Please enter the subject for your message. </p>
                {{ form.subject(size=40) }}
        </div><br><br>
        
        <div class = "message">
            <label> 
                <strong>{{ form.message.label }}</strong> <span style = "color: red; font-weight: bold;"> (Required) </span>
            </label>
            <br><br> 
            <p> Please enter the message you would like to send. </p>
                {{ form.message(cols=60, rows=4) }}
        </div><br>

        <button type="submit" class= "btn btn-primary">Send</button> 
    </form>

{% endblock %}